!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    / %title= content_for?(:title) ? "My Payment Manager | #{yield(:title)}" : "My Payment Manager"
    %title= content_for?(:title) ? full_title(yield(:title)) : "My Payment Manager"
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'My Payment Manager'}"}
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = javascript_include_tag "http://code.highcharts.com/highcharts.js", "chartkick"
    = csrf_meta_tags
  %body{ class: "#{controller_name} #{action_name}" }
  #wrapper
    = render 'layouts/main_nav'
    #page-wrapper{:class => ("padded-page-wrapper" if current_user)}
      .row
        .col-lg-12
          = render 'layouts/messages'
          = yield
