!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    / %title= content_for?(:title) ? "My Payment Manager | #{yield(:title)}" : "My Payment Manager"
    %title= content_for?(:title) ? full_title(yield(:title)) : "My Payment Manager"
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'My Payment Manager'}"}
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
  - if current_user
    #wrapper
      = render 'layouts/main_nav'
      #page-wrapper
        .row
          .col-lg-12
            = render 'layouts/messages'
            = yield
          / /.col-lg-12
        / /.row
      / /#page-wrapper
  -else
    =yield