= bootstrap_form_for @account do |f|
  - unless @account.errors.empty?
    = render partial: "/layouts/error_messages", locals: { error_model: @account }
  = f.text_field :name
  = f.text_field :description
  = f.text_field  :homepage
  -if @account.new_record?
    = f.primary "Create", data: { disable_with: 'Creating...' }
  -else
    = f.primary "Update", data: { disable_with: 'Updating...' }
