%h1= "Edit #{@account.name}"
= link_to content_tag(:i, "", class: "fa fa-chevron-left") + " Back", @account,
    class: "btn btn-default remove_fields btn-xs "
.panel-body
  %ul#accountTabs.nav.nav-tabs
    %li.active
      %a{href: "#main", data: {toggle: "tab"} }
        Details
    %li
      %a{href: "#security", data: {toggle: "tab"} }
        Security
  .tab-content
    #main.tab-pane.fade.active.in
      = render 'account_form'
    #security.tab-pane.fade.in
      = render 'user_roles'