=content_for :page_title, "#{@account.name} Overview"
.col-lg-12.add-margin
  %span.h4="#{@account.name}"
  = link_to content_tag(:i, "", class: "fa fa-trash-o") + " Delete", 
  @account,method: :delete, 
  class: "btn btn-danger remove_fields btn-xs", 
  data: { confirm: "Are you sure you want to delete this accont? This action can't be undone." }
  .panel-body
    %ul#accountTabs.nav.nav-tabs
      %li.active
        %a{href: "#details", data: {toggle: "tab"} }
          Details
      %li
        %a{href: "#history", data: {toggle: "tab"} }
          History
    .tab-content
      #details.tab-pane.fade.active.in
        = render 'account_summary'
      #history.tab-pane.fade
        = render 'account_history'
  = render partial: "notes/notes_and_form", locals: { current_model: @account }